@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Yekan;
  src: url("../public/font/Yekan.ttf");
}

* {
  font-family: Yekan !important;
}
body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  direction: rtl !important;
  font-family: Yekan !important;
  background-color: white !important;
  color: black;
  font-size: 4.75dvw;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black !important;
    color: white !important;
  }
}

input::placeholder {
  color: #737373 !important;
}

.Dropdown-option {
  color: black !important;
  padding: 3.5dvw !important;
  text-align: center !important;
  transition: all;
  transition-duration: 100ms;
}
.Dropdown-option.is-selected {
  background-color: #e09148 !important;
  color: white !important;
  font-weight: 700 !important;
}
.Dropdown-option:hover {
  background-color: #f8f8f8 !important;
  color: #e09148 !important;
}
.Dropdown-placeholder.is-selected {
  color: black !important;
}

@media (prefers-color-scheme: dark) {
  .Dropdown-option {
    color: white !important;
    padding: 3.5dvw !important;
    text-align: center !important;
    transition: all;
    transition-duration: 100ms;
  }
  .Dropdown-option.is-selected {
    background-color: #e09148 !important;
    color: white !important;
    font-weight: 700 !important;
  }
  .Dropdown-option:hover {
    background-color: #1f1f1f !important;
    color: #e09148 !important;
  }
  .Dropdown-placeholder.is-selected {
    color: white !important;
  }
}

.css-137m4ck {
  background-color: transparent !important;
  border: 0px !important;
}
.zm-Header {
  width: 100% !important;
  padding-inline: 0px !important;
  border-color: #d7d7d7;
}
.zm-MonthYearButton:hover {
  background-color: transparent !important;
}
.css-7qlbje {
  width: 100% !important;
  right: 0 !important;
  display: flex !important;
  justify-content: center !important;
  margin-right: 2dvw !important;
}
.zm-IconPrevButton:hover {
  background-color: transparent !important;
}
.zm-IconNextButton:hover {
  background-color: transparent !important;
}
.css-qmbtae {
  color: #e09148 !important;
}
.zm-DaysButton {
  color: #737373 !important;
  border-radius: 100% !important;
}
.zm-DaysButton[data-selected="true"] {
  background-color: #e09148 !important;
  color: white !important;
}
.zm-YearPickerButton {
  border-radius: 3.5dvw !important;
}
.zm-MonthPickerButton {
  border-radius: 3.5dvw !important;
}
@media (prefers-color-scheme: dark) {
  .zm-MonthYearButton {
    color: white !important;
  }
  .zm-MonthYearButton:hover {
    background-color: transparent !important;
  }
  .css-7qlbje {
    width: 100% !important;
    right: 0 !important;
    display: flex !important;
    justify-content: center !important;
    margin-right: 2dvw !important;
  }
  .zm-IconPrevButton {
    color: white !important;
  }
  .zm-IconNextButton {
    color: white !important;
  }
  .zm-Header {
    background-color: #e09148 !important;
    width: 100% !important;
    padding-inline: 0px !important;
    border: none !important;
  }
}
