@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Yekan;
  src: url("../public/font/Yekan.ttf");
}

body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  direction: rtl !important;
  font-family: Yekan !important;
  background-color: white !important;
  color: black;
  font-size: 4.75dvw;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black !important;
    color: white !important;
  }
}

input::placeholder {
  color: #737373 !important;
}

.Dropdown-option {
  color: black !important;
  padding: 3.5dvw !important;
  text-align: center !important;
  transition: all;
  transition-duration: 100ms;
}
.Dropdown-option.is-selected {
  background-color: #e09148 !important;
  color: white !important;
  font-weight: 700 !important;
}
.Dropdown-option:hover {
  background-color: #f8f8f8 !important;
  color: #e09148 !important;
}
.Dropdown-placeholder.is-selected {
  color: black !important;
}

@media (prefers-color-scheme: dark) {
  .Dropdown-option {
    color: white !important;
    padding: 3.5dvw !important;
    text-align: center !important;
    transition: all;
    transition-duration: 100ms;
  }
  .Dropdown-option.is-selected {
    background-color: #e09148 !important;
    color: white !important;
    font-weight: 700 !important;
  }
  .Dropdown-option:hover {
    background-color: #1f1f1f !important;
    color: #e09148 !important;
  }
  .Dropdown-placeholder.is-selected {
    color: white !important;
  }
}
